div {
    /* font-family: Inter, sans-serif; */
    font-family: "Lucida Console", monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.PageWrapper {
    padding: 10px 30px;
}

.MainWrapper_Vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
}

.MainWrapper_Horizontal {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Header {
    display: flex;
    justify-content: space-between;
}

.LogoWrapper {
    display: flex;
    gap: 5px;
}

.LogoText{
    position: relative;
    top: 10px;
    color: #687c96;
}

.LogoText a {
    text-decoration: none;
    color: #687c96;
    cursor: pointer;
}

.NavMenuWrapper {
    display: flex;
    top: 10px;
    position: relative;
    gap: 15px;
}

.ExerciseSection {
    text-align: center;
}

.NavMenuWrapper div {
    font-size: 15px;
}


.EmployeeNumber {
    font-size:12px;
    color:#999;
}

.CurrentPage {
    text-decoration: none;
    font-weight: 600;
}

.BlogWrapper {
    margin: 50px 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.BlogPost {
    height: 100px;
    width: 50%;
    text-align: center;
    padding: 40px 20px;
    background-color: #BFBCCB;
    border-radius: 20px;
}

.BlogPostTitle {
    color: #4D5382;
}


@media screen and (width <= 750px){
    .NavMenuWrapper {
        display: none;
    }
}